[Unit]
Description=MicroShift Kubernetes Proxy
After=microshift-apiserver.service
Requires=microshift-apiserver.service
PartOf=microshift.service

[Service]
Type=simple
EnvironmentFile=/var/lib/microshift/config/kube-proxy.env
ExecStart=/usr/bin/kube-proxy $KUBE_PROXY_ARGS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=microshift.service
