[Unit]
Description=MicroShift Kubernetes Controller Manager
After=microshift-apiserver.service
Requires=microshift-apiserver.service
PartOf=microshift.service

[Service]
Type=simple
EnvironmentFile=/var/lib/microshift/config/controller-manager.env
ExecStart=/usr/bin/kube-controller-manager $KUBE_CONTROLLER_MANAGER_ARGS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=microshift.service
